<% layout('layouts/boilerplate') %>
<h1>All Posts</h1>
<ul>
    <% for (let post of posts) { %>
        <li><a href="posts/<%= post._id %>"><%= post.title %></a></li>
    <% } %>
</ul>
<a href="/posts/new">Post</a>
